{# src/views/components/home/video-banner.twig #}
{% set video_url = 'https://www.youtube.com/embed/awtRtnoXi7k?rel=0&autoplay=1&mute=1&loop=1&playlist=awtRtnoXi7k' %}

<section class="video-banner">
  <div class="video-container">
    <iframe
      src="{{ video_url }}"
      title="Video Banner"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      loading="lazy">
    </iframe>
  </div>
</section>
